[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
dealforge = "Xhjc4BZkWM8eTESN5t1Pfmyknerk7ecPJmUqfTf6UU1"

[programs.devnet]
dealforge = "Xhjc4BZkWM8eTESN5t1Pfmyknerk7ecPJmUqfTf6UU1"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "vitest"
